apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: {{ deployment_name }}
  name: {{ deployment_name }}
  namespace: {{ deployment_namespace }}
spec:
  replicas: 1
  selector:
    app: {{ deployment_name }}
    deploymentconfig: {{ deployment_name }}
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels: 
        app: {{ deployment_name }}
        deploymentconfig: {{ deployment_name }}
    spec:
      containers:
        - image: docker-registry.default.svc:5000/{{ deployment_image_namespace }}/{{ deployment_image }}
          imagePullPolicy: Always
          name: {{ deployment_name }}
{% if deployment_port is defined %}
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: {{ deployment_port }}
            timeoutSeconds: 2
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: {{ deployment_port }}
            timeoutSeconds: 2
{% endif %}
{% if initcontainers is defined %}
{{ initcontainers | to_nice_yaml |indent(6, True) }}
{% endif %}
{% if deployment_service_account is defined %}
      serviceAccount: "{{ deployment_service_account }}"
{% endif %}
      restartPolicy: Always
      dnsPolicy: ClusterFirst
      schedulerName: default-scheduler
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - {{ deployment_name }}
        from:
          kind: ImageStreamTag
          name: {{ deployment_image }}
          namespace: {{ deployment_image_namespace }}
