---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ deployment_name }}
  name: {{ deployment_name }}
  namespace: {{ deployment_namespace }}
spec:
  replicas: 1
  revisionHistoryLimits: 3
  selector:
    matchLabels:
      app: {{ deployment_name }}
  template:
    metadata:
      openshift.io/generated-by: cmsp-infrastructure
      labels:
        app: {{ deployment_name }}
    spec:
      containers:
        - image: docker-registry.default.svc:5000/{{ deployment_image_namespace }}/{{ deployment_image }}
          imagePullPolicy: Always
          name: {{ deployment_name }}
{% if deployment_port is defined %}
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: {{ deployment_port }}
            timeoutSeconds: 2
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: {{ deployment_port }}
            timeoutSeconds: 2
{% endif %}
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
    triggers:
      - type: ConfigChange
      - type: ImageChange
        imageChangeParams:
          automatic: true
          containerNames:
            - {{ deployment_name }}
          from:
            kind: ImageStreamTag
            name: {{ deployment_image }}
            namespace: {{ deployment_image_namespace }}
