apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: "{{ operator_name }}"
  namespace: "{{ operator_namespace }}"
spec:
  lookupPolicy:
    local: false
  tags:
    - name: latest
      annotations:
        description: "{{ operator_description }}"
        openshift.io/display-name: "{{ operator_displayname }}"
      from:
        kind: DockerImage
        name: '{{ artifact_server }}/{{ operator_image_namespace }}/{{ operator_image }}'
      importPolicy:
        insecure: true
        scheduled: true
      referencePolicy:
        type: Local
