kind: LDAPSyncConfig
apiVersion: v1
url: ldap://{{ rh_idm_fqdn }}
bindDN: uid={{ ose_bind_user }},{{ rh_idm_userou }}
bindPassword: {{ ose_bind_user_password }}
insecure: true
rfc2307:
  groupsQuery:
    baseDN: "{{ rh_idm_groupou }}"
    filter: "(objectClass=groupOfNames)"
    scope: sub
    derefAliases: never
    pageSize: 0
  groupNameAttributes: [ cn ]
  groupUIDAttribute: dn
  groupMembershipAttributes: [ member ]
  usersQuery:
    baseDN: "{{ rh_idm_userou }}"
    scope: sub
    derefAliases: never
    pageSize: 0
  userNameAttributes: [ uid ]
  userUIDAttribute: dn
  tolerateMemberNotFoundErrors: false
  tolerateMemberOutOfScopeErrors: false
