---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{ operator_name }}"
  namespace: operators
spec:
  channel: {{ operator_channel }}
  name: "{{ operator_name }}"
{% if operator_source is defined %}
  source: {{ operator_source }}
{% else %}
  source: solute-catalog
{% endif %}
{% if operator_source_namespace is defined %}
  sourceNamespace: {{ operator_source_namespace }}
{% else %}
  sourceNamespace: olm
{% endif %}
{% if operator_csv is defined and operator_version is defined %}
  startingCSV: "{{ operator_csv}}.{{ operator_version }}"
{% elif operator_name is defined and operator_version is defined %}
  startingCSV: "{{ operator_name }}.{{ operator_version }}"
{% endif %}
