version: '2'
services:
  artifactory:
    image: {{ artifactory_container_base }}/{{ artifactory_container }}:{{ artifactory_version }}
    container_name: artifactory
    ports:
      - 8081:8081
    volumes:
      - {{ artifactory_base_dir }}/artifactory:/var/opt/jfrog/artifactory:Z
      - {{ artifactory_base_dir }}/cacerts:/java/jdk-11.0.2+9/lib/security/cacerts:Z
{% if artifactory_license is defined %}
      - {{ artifactory_base_dir }}/artifactory.lic:/artifactory_extra_conf/artifactory.lic:Z
{% endif %}
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000
  nginx:
    image: {{ artifactory_container_base }}/{{ artifactory_nginx_container }}:{{ artifactory_version }}
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    depends_on:
      - artifactory
    links:
      - artifactory
    volumes:
      - {{ artifactory_base_dir }}/nginx:/var/opt/jfrog/nginx:Z
    environment:
      - ART_BASE_URL=http://artifactory:8081/artifactory
      - SSL=true
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000