apiVersion: anchore.com/v1alpha1
kind: AnchoreEngine
metadata:
  name: cms-anchore
  namespace: "{{ ns_services_name }}"
spec:
  postgresql:
    enabled: false
    externalEndpoint: {{ ns_services_name }}-pgsql-cluster
    postgresDatabase: {{ anchore_db_database }}
    postgresPassword: {{ anchore_db_password }}
    postgresUser: {{ anchore_db_username }}
  ingress:
    enabled: false
  anchoreGlobal:
    image: anchore/anchore-engine:v0.5.1
    imagePullPolicy: IfNotPresent
    openShiftDeployment: True
    existingSecret: Null
    defaultAdminPassword: foobar
  anchoreAnalyzer:
    replicaCount: 1
    containerPort: 8084
    layerCacheMaxGigabytes: 0
    configFile:
      retrieve_files:
        file_list:
          - '/etc/passwd'
      secret_search:
        match_params:
          - MAXFILESIZE=10000
          - STOREONMATCH=n
        regexp_match:
          - "AWS_ACCESS_KEY=(?i).*aws_access_key_id( *=+ *).*(?<![A-Z0-9])[A-Z0-9]{20}(?![A-Z0-9]).*"
          - "AWS_SECRET_KEY=(?i).*aws_secret_access_key( *=+ *).*(?<![A-Za-z0-9/+=])[A-Za-z0-9/+=]{40}(?![A-Za-z0-9/+=]).*"
          - "PRIV_KEY=(?i)-+BEGIN(.*)PRIVATE KEY-+"
          - "DOCKER_AUTH=(?i).*\"auth\": *\".+\""
          - "API_KEY=(?i).*api(-|_)key( *=+ *).*(?<![A-Z0-9])[A-Z0-9]{20,60}(?![A-Z0-9]).*"
  anchoreApi:
    replicaCount: 1
    service:
      type: ClusterIP
      port: 8228
  anchoreCatalog:
    replicaCount: 1
    service:
      type: ClusterIP
      port: 8082
  anchorePolicyEngine:
    replicaCount: 1
    service:
      type: ClusterIP
      port: 8087
  anchoreSimpleQueue:
    replicaCount: 1
    service:
      type: ClusterIP
      port: 8083
  anchoreEnterpriseGlobal:
    enabled: false
  anchore-feeds-db:
    enabled: false
  anchoreEnterpriseFeeds:
    enabled: false
  anchoreEnterpriseRbac:
    enabled: false
  anchoreEnterpriseReports:
    enabled: false
  anchoreEnterpriseUi:
    enabled: false
