apiVersion: "atlassian.cms.solute.us/v1alpha1"
kind: Atlassian
metadata:
  name: "cms"
  namespace: "{{ ns_services_name }}"
spec:
  jira:
    state: present
  bitbucket:
    state: present
  confluence:
    state: present