apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: "{{ ns_services_name }}-pgsql-cluster"
  namespace: "{{ ns_services_name }}"
spec:
  teamId: "{{ ns_services_name }}"
  volume:
    size: 25Gi
  numberOfInstances: 2
  users:
    cms-admin:
    - superuser
    - createdb
    sonar: []
    anchore: []
    atlassian: []
  databases:
    sonardb: sonar
    jiradb: atlassian
    confluencedb: atlassian
    bitbucketdb: atlassian
    anchoredb: anchore
  postgresql:
    version: "10"
