apiVersion: v1
kind: RoleBinding
metadata:
  name: cluster-admin-services
  namespace: "{{ ns_services_name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: "{{ ns_services_admin_sa }}"
  namespace: "{{ ns_services_name }}"
