apiVersion: "sonarqube.cms.solute.us/v1alpha1"
kind: SonarQube
metadata:
  name: services-sonarqube
  namespace: "{{ ns_services_name }}"
spec:
  app: services-sonarqube
  image: sonarqube
  image_tag: 7.7-community
  host: sonar.apps.cms.solute.us
  httpport: 9000
  database_secret: postgres-{{ ns_services_name }}-sonarqube
  ldap_secret: ldap-{{ ns_services_name }}-sonarqube
  persistent: True
  persistent_size: 10Gi
  persistent_type: ReadWriteOnce
  persistenct_class: glusterfs-storage
