apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    name: postgres-operator
  name: postgres-operator
spec:
  host: pgo.{{ project_fqdn }}
  port:
    targetPort: apiserver
  tls:
    termination: passthrough
  to:
    kind: Service
    name: postgres-operator
    weight: 100
  wildcardPolicy: None