version: '2'
services:
  nexus:
    image: {{ nexus_container_base }}/{{ nexus_container }}:{{ nexus_version }}
    container_name: nexus
    ports:
      - 8081:8081
    volumes:
      - {{ nexus_base_dir }}:/nexus-data:Z
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000