version: "2"
services:
  nginx:
    image: {{ nginx_image_name }}
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - /data/repos:/var/www/html/repos:Z
      - /data/nginx.conf:/etc/nginx/conf.d/default.conf:Z
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000
  registry:
    image: {{ registry_image_name }}
    container_name: registry
    ports:
      - 5000:5000
    volumes:
      - /data/var/lib/registry:/var/lib/registry:Z
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000
