server {
        listen 80;
        server_name  {{ ansible_fqdn }}; 
        root   /var/www/html/repos;
        location / {
                index  index.php index.html index.htm;
                autoindex on;	#enable listing of directory index
        }
}
